/*===============================
 レイアウト（コンテンツ配置）
===============================*/
.l-container{
    width: 500px;
    margin: 0 auto;
    padding: 60px 5px;
    @include mq() {
        width: 100%;
    }
}